<ul id="menu">
    <li>
        @Html.ActionLink("原材料", "Index", "RawStock")
    </li>

    <li>
        @Html.ActionLink("生产厂", "Index", "Factory")
    </li>
    <li>
        @Html.ActionLink("工作中心", "Index", "WorkCenter")
    </li>

    <li>
        @Html.ActionLink("创建BOM", "Index", "BOM")
    </li>

    <li>
        @Html.ActionLink("分配加工工厂", "Index", "AssignFactory")
    </li>

    <li>
        @Html.ActionLink("成本", "Index", "CostTotal")
    </li>
</ul>
