@model Cost.Models.ChangePasswordModel
@{
    ViewBag.Title = "更改密码";
}

    <h1>@ViewBag.Title.</h1>

<script type="text/javascript">
    $(function () {
        $('#OldPassword').val('');
    })
</script>
@using (Html.BeginForm())
{
    @ViewBag.success
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>更改密码</legend>
        <p>
            @Html.LabelFor(m => m.OldPassword,new { style = "margin-right:1em" })
            @Html.TextBoxFor(m => m.OldPassword, new { style = "width:12em" })
        </p>
        <p>
            @Html.LabelFor(m => m.NewPassword,new { style = "margin-right:2em" })
            @Html.PasswordFor(m => m.NewPassword, new { style = "width:12em" })
        </p>
        <p>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { style = "width:12em" })
        </p>
        <input type="submit" value="更改" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

